<mat-card class="mt-2">
<!--   <div class="row">
    <div class="col-lg-6"> -->
      <mat-card-title> <h2>{{accion}} producto</h2> </mat-card-title>
<!--     </div>
  </div> -->

  <div class="row">
    <div class="col-lg-12">
      <!-- FORMULARIO -->
      <form [formGroup]="myForm">
        <div class="col-lg-12">
          <mat-form-field class="example-container" [style.fontSize.px]=14>
            <mat-label>Nombre(s)</mat-label>
            <input matInput formControlName="nombre">
          </mat-form-field>
          <div *ngIf="myForm.get('nombre').hasError('required') && myForm.get('nombre').touched" style="margin-top: -20px;">
            <span  class="mda-form-msg">Este campo es <strong>requerido!</strong></span>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 mt-2">
            <mat-form-field appearance="fill">
              <mat-label>Precio</mat-label>
              <input matInput type="number" class="example-right-align" formControlName="precio">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
            <div *ngIf="myForm.get('precio').hasError('required') && myForm.get('precio').touched" style="margin-top: -20px;">
              <span  class="mda-form-msg">Este campo es <strong>requerido!</strong></span>
            </div>
          </div>

          <div class="col-lg-6 mt-2">
            <mat-form-field appearance="fill">
              <mat-label>Cantidad</mat-label>
              <input matInput type="number" class="example-right-align" formControlName="stock">
              <span matSuffix>.00</span>
            </mat-form-field>
            <div *ngIf="myForm.get('stock').hasError('required') && myForm.get('stock').touched" style="margin-top: -20px;">
              <span  class="mda-form-msg">Este campo es <strong>requerido!</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="example-container">
              <mat-label>Seleccione Inventario</mat-label>
              <mat-select formControlName="inventarioId">
                <mat-option *ngFor="let inventario of listInventario" [value]="inventario.id">
                  {{ inventario.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="myForm.get('inventarioId').hasError('required') && myForm.get('inventarioId').touched" style="margin-top: -20px;">
              <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
            </div>
          </div>

          <div class="col-lg-6">
            <mat-form-field class="example-container">
              <mat-label>Seleccione Categoria</mat-label>
              <mat-select formControlName="categoriaId">
                <mat-option *ngFor="let categoria of listCategoria" [value]="categoria.id">
                  {{ categoria.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="myForm.get('categoriaId').hasError('required') && myForm.get('categoriaId').touched" style="margin-top: -20px;">
              <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="example-container">
              <mat-label>Seleccione Marca</mat-label>
              <mat-select formControlName="marcaId">
                <mat-option *ngFor="let marca of listMarca" [value]="marca.id">
                  {{ marca.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="myForm.get('marcaId').hasError('required') && myForm.get('marcaId').touched" style="margin-top: -20px;">
              <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
            </div>
          </div>
          <div class="col-lg-6">
            <mat-form-field class="example-container">
              <mat-label>Seleccione Unidad medida</mat-label>
              <mat-select formControlName="unidadId">
                <mat-option *ngFor="let unidad of listUnidad" [value]="unidad.id">
                  {{ unidad.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="myForm.get('unidadId').hasError('required') && myForm.get('unidadId').touched" style="margin-top: -20px;">
              <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="example-container" appearance="fill">
              <mat-label>Fecha creacion</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaCreacion">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="myForm.get('fechaCreacion').hasError('required') && myForm.get('fechaCreacion').touched" style="margin-top: -20px;">
              <span  class="mda-form-msg">Este campo es <strong>requerido!</strong></span>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <mat-radio-group aria-label="Seleccione el estado" formControlName="estado">
              <mat-radio-button value="Habilitado">Habilitado</mat-radio-button>
              <mat-radio-button value="Deshabilitado">Deshabilitado</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="myForm.get('estado').hasError('required') && myForm.get('estado').touched" style="margin-top: -20px;">
              <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
            </div>
          </div>
        </div>

        <br>
        <div class="col-lg-12">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-secondary btn-lg" type="button" routerLink="/dashboard/listProducto/">Cancelar</button>
            <button class="btn btn-success btn-lg" type="button" style="margin-left: 10px;"
                    (click)="add()" [disabled]="myForm.invalid">
                    Aceptar</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</mat-card>
