<mat-card class="mt-2">
 <!--  <div class="row">
    <div class="col-lg-6"> -->
    <mat-card-title>  <h2>{{accion}} inventario</h2> </mat-card-title>
<!--     </div>
  </div> -->

  <div class="row">
    <div class="col-lg-12">
      <!-- FORMULARIO -->
      <form [formGroup]="myForm">
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="example-container" [style.fontSize.px]=16>
              <mat-label>Nombre(s)</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
            <div *ngIf="myForm.get('nombre').hasError('required') && myForm.get('nombre').touched" style="margin-top: -20px;">
              <span  class="mda-form-msg">Este campo es <strong>requerido!</strong></span>
            </div>
          </div>
          <div class="col-lg-6">
            <mat-form-field class="example-container" [style.fontSize.px]=16>
              <mat-label>Descripcion</mat-label>
              <input matInput formControlName="descripcion">
            </mat-form-field>
            <div *ngIf="myForm.get('descripcion').hasError('required') && myForm.get('descripcion').touched" style="margin-top: -20px;">
              <span  class="mda-form-msg">Este campo es <strong>requerido!</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 mt-3">
            <mat-form-field class="example-container">
              <mat-label>Seleccione la gestion</mat-label>
              <mat-select formControlName="gestionId">
                <mat-option *ngFor="let gestion of listGestion" [value]="gestion.id">
                  {{ gestion.anio }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="myForm.get('gestionId').hasError('required') && myForm.get('gestionId').touched" style="margin-top: -20px;">
              <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
            </div>
          </div>

          <div class="col-lg-6">
            <mat-form-field class="example-container" appearance="fill">
              <mat-label>Fecha creacion</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaCreacion">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="myForm.get('fechaCreacion').hasError('required') && myForm.get('fechaCreacion').touched" style="margin-top: -20px;">
              <span  class="mda-form-msg">Este campo es <strong>requerido!</strong></span>
            </div>
          </div>
        </div>

        <div class="col-lg-12 mt-2">
          <mat-radio-group aria-label="Seleccione el estado" formControlName="estado">
            <mat-radio-button value="Habilitado">Habilitado</mat-radio-button>
            <mat-radio-button value="Deshabilitado">Deshabilitado</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="myForm.get('estado').hasError('required') && myForm.get('estado').touched" style="margin-top: -20px;">
          <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
        </div>


        <br>
        <div class="col-lg-12">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-secondary btn-lg" type="button" routerLink="/dashboard/listInventario/">Cancelar</button>
            <button class="btn btn-success btn-lg" type="button" style="margin-left: 10px;"
                    (click)="add()" [disabled]="myForm.invalid">
                    Aceptar</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</mat-card>
