<mat-card class="mt-2">
  <div class="row">
     <div class="col-lg-10">
       <h2>Listado de Ingresos</h2>
     </div>
     <div class="col-lg-1" style="text-align: right">
       &nbsp;&nbsp;<button mat-raised-button (click)="exporter.exportTable('xlsx',{fileName:'Ingresos'})">Excel</button>
     </div>
     <div class="col-lg-1" style="text-align: right;">
       <button mat-raised-button color="warn" routerLink="/dashboard/addIngreso">Agregar</button>
     </div>
   </div>

   <mat-form-field>
       <mat-label>Filtro</mat-label>
       <input matInput (keyup)="applyFilter($event)" placeholder="Fitro" #input>
   </mat-form-field>

   <div class="table-responsive">
     <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" class="mat-elevation-z8" matSort>

       <ng-container matColumnDef="inventario">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Inventario </th>
         <td mat-cell *matCellDef="let element"> {{element.inventario.nombre}} </td>
       </ng-container>

        <ng-container matColumnDef="fechaIngreso">
          <th mat-header-cell *matHeaderCellDef> F. Creacion </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaIngreso | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="proveedor">
          <th mat-header-cell *matHeaderCellDef> Proveedor </th>
          <td mat-cell *matCellDef="let element"> {{element.proveedor.empresa}} </td>
        </ng-container>

        <ng-container matColumnDef="totalSD">
          <th mat-header-cell *matHeaderCellDef> Total SD </th>
          <td mat-cell *matCellDef="let element"> {{element.totalSD}} </td>
        </ng-container>

        <ng-container matColumnDef="totalD">
          <th mat-header-cell *matHeaderCellDef> Total D </th>
          <td mat-cell *matCellDef="let element"> {{element.totalD}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

       <ng-container matColumnDef="acciones">
         <th mat-header-cell *matHeaderCellDef> Acciones </th>
         <td mat-cell *matCellDef="let element">
           <a class="pointer" style="color:#1878B0;" routerLink="/dashboard/editIngreso/{{element.id}}">
             <mat-icon>search</mat-icon>
           </a>
           <a (click)="delete(element.id)" class="pointer" style="color: #e15639;">
             <mat-icon >delete</mat-icon>
           </a>
         </td>
       </ng-container>

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
   </div>

   <mat-card class="mt-2">
     <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   </mat-card>

 </mat-card>

