.example-container{
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.btn-success{
  background-color: #f44336;
  border-color:  #f44336;
}
.mda-form-msg{
  color:  #f44336;
}



.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.padre {
  display: flex;
  align-items: center;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.pointer{
  cursor: pointer;
 }

